<!DOCTYPE html>
<html lang= en>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="íe=edge">
		<title> Guia de perguntas</title>
		<link rel="stylesheet"  hreft = "/css/bootstrap.min.css">
		<link rel="stylesheet"  hreft = "/css/style.css">
		
	</head>